/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap");

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

/* ---------
Utilities 
----------- */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 900px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #000;
}
.section-title {
  color: #562eff;
  font-weight: 500;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 40px;
}
main {
  background-color: #e5e5e5;
  display: block;
  overflow: hidden;
}
/* HEADER CSS */

#leaderboard-header {
  background-color: #562eff;
  height: 94px;
  display: flex;
  flex-wrap: wrap;
}
.header-area {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.left-logo {
  display: flex;
  align-items: center;
}
.left-logo img {
  width: 41px;
  height: 51px;
}
.left-logo .logo-text {
  margin-left: 16px;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}
.right-nav {
  display: flex;
  align-items: center;
}
.right-nav .menu {
  margin-right: 36px;
}
.right-nav .menu a {
  margin-left: 36px;
  color: #fff;
  font-size: 16px;
}
.right-nav .profile-img {
  width: 51px;
  height: 51px;
}
.right-nav .profile-img img {
  width: 100%;
}

/* ----------
Player & Blog 
--------------*/

#top-player-blog {
  background-color: #fff;
  margin-top: 36px;
  padding: 0 30px;
  overflow: hidden;
  border-radius: 5px;
}
.players {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player-img {
  margin-right: 16px;
}
.player-img img {
  width: 56px;
  height: 56px;
}
.player-name {
  font-size: 18px;
  font-weight: 500;
}
hr {
  margin-top: 30px;
  border: 1px solid #d1d1d1;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-column-gap: 79px;
  grid-row-gap: 27px;
  margin-bottom: 40px;
}
.blog {
  display: flex;
}
.blog-img {
  margin-right: 16px;
}
.blog-img img {
  width: 177px;
}
.blog-content h4 {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 20px;
}
.blog-content p span {
  color: #9f9f9f;
  margin-right: 3px;
  font-size: 16px;
}
.blog-content p a {
  font-size: 16px;
  color: blue;
}
.blog-content p a:hover {
  text-decoration: underline;
}

/*------------- 
Latest Courses 
---------------*/

#latest-course {
  background-color: #fff;
  padding: 0 30px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-column-gap: 70px;
  margin-bottom: 30px;
}
.course {
  padding: 13px;
  box-shadow: 0px -0.65771px 6.3557px rgb(0 0 0 / 10%);
  border-radius: 10px;
}
.course-img img {
  width: 224px;
}
.course-title {
  width: 220px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-top: 19px;
}
.course-author {
  margin-top: 8px;
  color: #ed6b4f;
  font-size: 14px;
  margin-bottom: 14px;
}
.course-info {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.star i {
  font-size: 10px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
  opacity: 0.5;
}

.ratings {
  font-size: 14px;
  color: #aeaeae;
  margin-top: 4px;
}
.duration {
  text-align: center;
  background-color: #ffe4e8;
  border-radius: 14px;
  padding: 0 7px;
}
.duration p img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
}
.duration span {
  font-size: 14px;
}

/* ------------------------------ Responsive ------------------------------ */

/* ----------Header menu----------- */

@media (max-width: 419.98px) {
  .header-area {
    flex-direction: column;
    align-items: center;
  }
  .profile-img {
    display: none;
  }
  #leaderboard-header {
    height: fit-content;
    padding: 5px 0;
  }
}

@media (min-width: 420px) and (max-width: 575.98px) {
  .header-area {
    flex-direction: column;
    align-items: center;
  }
  #leaderboard-header {
    height: fit-content;
    padding: 5px 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .header-area {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .header-area {
    padding: 0 20px;
    box-sizing: border-box;
  }
}

/* ----------Top Player----------- */

@media (max-width: 575.98px) {
  .section-title {
    text-align: center;
  }
  .container {
    width: 100%;
  }
  .players {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    justify-items: center;
    grid-row-gap: 50px;
  }
  .player {
    flex-direction: column;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .container {
    width: 80%;
  }
  .players {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 550px;
  }
}

/* ----------Top Blog ----------- */

@media (max-width: 575.98px) {
  #top-player-blog {
    padding: 0;
  }
  .container {
    width: 100%;
  }
  .blogs {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    justify-items: center;
    grid-row-gap: 50px;
  }
  .blog {
    flex-direction: column;
    align-items: center;
    max-width: 180px;
  }
  .blog-content {
    margin-top: 15px;
    text-align: center;
  }
  .blog-img {
    margin-right: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .blogs {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .blogs {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

/* ----------Latest Courses ----------- */

@media (max-width: 575.98px) {
  #latest-course {
    padding: 0;
  }
  .container {
    width: 100%;
  }
  .courses {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    justify-items: center;
    grid-row-gap: 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .courses {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    justify-items: center;
    grid-row-gap: 40px;
  }

  #latest-course p {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .courses {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 40px;
  }
}
